<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#E6E600">
    SNIT is located in Vadakkevila ,Kollam
    <div class="container">
        <div class="=row">
             <div class="col col-sm-6 ">
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum ipsam iste recusandae sint dignissimos magni tempora, incidunt necessitatibus. Esse animi ex provident a corrupti exercitationem ducimus laboriosam non pariatur? Mollitia?
             </div>
        </div>
    </div>

    <img src="/static/flower.jpg" height=100 width=200>
    <table class="table">
        <tr><td>UserName</td><td><input type="text" name="uname"></td></tr>
        <tr><td>Password</td><td><input type="password" name="pass"></td></tr>
        <tr><td></td><td><button type="button" class="btn btn-warning" >Login</button></td></tr>
    </table>
       
        
</body>
</html>